.Rproj.user
.Rhistory
.RData
.Ruserdata
data
.DS_Store
learning_rate.Rproj
ignore
modelFits.RData
modelFits_iAFM.RData
modelFits_iAFM_full.RData
modelFits_itAFM.RData
modelFits_itAFM_iAFM.RData
modelFits_itAFM_iAFM_full.RData
by-dataset-old
fromServerRun1
fromServerRun2
fromServerRun3
fromServerRun4
fromServerRun5
params
.png
.html